services:
  # --- Databases ---
  db-wallet:
    image: postgres:16-alpine
    container_name: wallet_db
    ports: ["5433:5432"]
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: wallet_user
      POSTGRES_PASSWORD: wallet_pass

  db-users:
    image: postgres:16-alpine
    ports: ["5434:5432"]
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: users_user
      POSTGRES_PASSWORD: users_pass

  # --- Microservices ---
  ms-wallet:
    build:
      context: .
      dockerfile: docker/ms-wallet.Dockerfile
    ports: ["3001:3001"]
    environment:
      DATABASE_URL: postgresql://wallet_user:wallet_pass@db-wallet:5432/wallet
      JWT_SECRET: ILIACHALLENGE
      JWT_INTERNAL_SECRET: ILIACHALLENGE_INTERNAL
      PORT: 3001
    depends_on: [db-wallet]

  ms-users:
    build:
      context: .
      dockerfile: docker/ms-users.Dockerfile
    ports: ["3002:3002"]
    environment:
      DATABASE_URL: postgresql://users_user:users_pass@db-users:5432/users
      JWT_SECRET: ILIACHALLENGE
      JWT_INTERNAL_SECRET: ILIACHALLENGE_INTERNAL
      WALLET_SERVICE_URL: ms-wallet:50051
      PORT: 3002
    depends_on: [db-users, ms-wallet]

  # --- Frontend ---
  web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    ports: ["3000:3000"]
    environment:
      NEXT_PUBLIC_USERS_API_URL: http://localhost:3002
      NEXT_PUBLIC_WALLET_API_URL: http://localhost:3001
    depends_on: [ms-wallet, ms-users]
